body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
}

header {
    background-color: #48d1cc;
    color: white;
    padding: 20px;
}

main {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
}

a {
    background-color: #ffa500;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    background-color: #ff4500;
}
